<!DOCTYPE html>
<html>
<head>
  <title>Website Views Counter</title>
</head>
<body>
  <h1> Home Visits: <%=Hello %> </h1>
  <p></p>
  <a href="/about"><button> To About >> </button></a>
</body>
</html>