* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}

.txt {
  margin: 1rem 0;
  color: #ffffff;
  font-size: 2rem;
  font-weight: normal;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.logo {
  max-width: 90%;
  image-rendering: -moz-crisp-edges;
}

.error {
  background: #A63446;
  padding: 0.5rem 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
.create {
  margin: 1rem 0;
  max-width: 100%;
}

.input {
  font-family: inherit;
  padding-bottom: 1rem;
  background: none;
  border: none;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  font-size: 1.25rem;
  transition: border-bottom-color 0.3s ease-in-out;
  caret-color: #611db9;
}

.input:focus {
  outline: none;
  border-bottom-color: #611db9;
}

.input::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.create {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.15rem;
  color: #ffffff;
  border: none;
  background-color: #611db9;
  padding: 0.75em 1.25rem;
  box-shadow: 3px 3px 0 0 #ffffff;
  transition: box-shadow 0.2s ease-in-out;
}

.create:hover {
  box-shadow: 0 0 0 0 #ffffff;
}

.created {
  color: #ffffff;
}

.created a {
  color: inherit;
}

/*---------footer---------*/
footer {
  background-color: #222023;
  background-image: -webkit-linear-gradient( top, #222023, #1e2c47 );
  background-image: -moz-linear-gradient( top, #222023, #1e2c47 );
  background-image: -o-linear-gradient( top, #222023, #1e2c47 );
  background-image: linear-gradient( to bottom, #222023, #1e2c47 );
  color: #fff;
  padding: 220px 0;
  font-size: 17px;
}
footer h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
footer h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 2px;
}
.about-footer li i {
  position: absolute;
  left: 0;
}
.about-footer li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 40px;
}

.about-footer ul {
  margin-top: 40px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ed1b24;
}
.footer-title {
  border-bottom: 2px solid #a61f2d;
  padding-bottom: 25px;
  margin-bottom: 35px;
}

ul.footer-social {
  float: right;
}

ul.footer-social li {
  display: inline;
  margin-right: 16px;
}

ul.footer-social i {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #222025;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  font-size: 16px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 800;
}

ul.footer-social li:last-child {
  margin-right: 0px;
}

ul.footer-social i:hover {
  background: #ed1b24;
  color: #fff;
}

.page-more-info li {
  margin-bottom: 31px;
}

footer .table td:first-child {
  font-weight: 600;
  padding-left: 33px;
}

footer .table td:last-child {text-align: right;}
footer .table td {
  padding: 0px;
  border: 0;
}

footer .table tr {
}

footer .table td i {
  position: absolute;
  left: 0px;
  font-size: 21px;
  top: 6px;
}

footer .table td {
  position: relative;
  padding: 4px 0;
}
.footer-logo td {
  padding-right: 4px !important;
}

.footer-logo td:last-child {
  padding-right: 0px !important;
}
footer hr {
  border-color: #9294a0;
}

.footer-bottom p {
  text-align: right;
}
.footer-bottom {
  margin-top: 30px;
}
.open-hours hr {
  margin: 30px 0;
}

